[submodule "external/cmsis-core"]
	path = external/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "external/cmsis-device-h7"]
	path = external/cmsis-device-h7
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
[submodule "external/stm32h7xx-hal-driver"]
	path = external/stm32h7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
[submodule "external/stm32h7xx-nucleo-bsp"]
	path = external/stm32h7xx-nucleo-bsp
	url = https://github.com/STMicroelectronics/stm32h7xx-nucleo-bsp.git
[submodule "external/threadx"]
	path = external/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "external/filex"]
	path = external/filex
	url = https://github.com/eclipse-threadx/filex.git
[submodule "external/pneumo"]
	path = external/pneumo
	url = git@github.com:daleondev/pneumo.git
